@{
    ViewData["Title"] = "Home Page";
}
<h1>The Latest News Headlines</h1>
<ul>
    <li><a href="/los-angeles-ca/news/">Los Angeles, California</a></li>
    <li><a href="/new-york-ny/news/">New York City, New York</a></li>
</ul>
